# MacOS
**/.DS_Store

# editors
*.swp
*~

# build
/build*/
test/build
test/artifacts

# embedops
/artifacts*/
embedops.log
build.log

# provisioning
embedops-gateway-image.img


build
.cache
.west
zephyr
modules
tools
bootloader
*.cmake